body{
	margin:0;
  	background-color: Black;
	color: white;
  	font-size: 22px;
  	opacity: 0.9;
  	font-family: Helvetica;
}

h2 h3 h4{
	margin: 0px;
	padding: 10px;
}

.container{
	display: flex;
 	justify-content: center;
	flex-wrap: wrap;

}

a{
	color: seashell;

}

header{
	height: 70px;
	position: fixed;
	border-bottom:1px solid seashell;
	width: 100%;
	align-items: center;
	background-color: black;
}

	
nav{
	text-align: right;
	flex-grow: 1;
	
}

nav span{
	display: inline-block;
	text-decoration: underline;
	padding: 20px 10px;
	
}

.logo{
	margin-left: 10px;
	height: 50px;
}


 #Mission{
	display: flex;
	background-image: url(Images/mission-background.jpg);
	height: 700px;
	width: 1200px;
	margin: auto;
}

.content{
	width: 1200px;
	margin: auto;
	background-color: black;
	text-align: center;
	align-content: center;
}

div {
	display: block;
}

#store{
	width: 1000px;
	height: 700px;
	margin: auto;
	padding-top: 70px;
	text-align: center;
}

.tea{
	display: inline-block;
	margin: 10px;
}

.tea p{
	margin: 10px;
}


